header#masthead
  .container
    .four.columns.left
      a.handletter(href='/')
        img(src='/img/logo.png', alt='Enigma')
    .eight.columns.right
      nav
        ul
          li.mob-logo
            a
              img(src='/img/logo.png', alt='Enigma')
          if currentUser
            li
              a(href='/') Play
            li
              a(href='/leaderboard') Leaderboard
            li
              a(href='/logout') Logout from 
                b #{currentUser.username}
          else
            li
              a(href='/login') Login
            li
              a(href='/leaderboard') Leaderboard
             
