extends layout

block content
  .card
    h1.form-title Register for Enigma
    if error
      p.error= error
    form(method='post', action='/register')
      .form-group
        label(for='username') Team name
        input(type='text', name='username', placeholder='Team Name', maxlength='25', required)
      //- .form-group
      //-   label(for='email') Team email
      //-   input(type='email', name='email', placeholder='Team Email', required)
      .form-group
        label(for='password') Team password
        input(type='text', name='password', placeholder='Team Password', required)
        //- input(type='text', name='passwordConfirm', placeholder='Confirm Team Password', required)
      //- .form-group
      //-   label Participant 1:
      //-   input(type='text', name='p1name', placeholder='Participant 1 Name', required)
      //-   input(type='text', name='p1email', placeholder='Participant 1 Email', required)
      //-   select(name='p1class', required)
      //-     option(selected, disabled) Participant 1 Class
      //-     option 8
      //-     option 9
      //-     option 10
      //-     option 11
      //-     option 12
      //- .form-group
      //-   label Participant 2:
      //-   input(type='text', name='p2name', placeholder='Participant 2 Name')
      //-   input(type='text', name='p2email', placeholder='Participant 2 Email')
      //-   select(name='p2class')
      //-     option(selected, disabled) Participant 2 Class
      //-     option 8
      //-     option 9
      //-     option 10
      //-     option 11
      //-     option 12
      //- .form-group
      //-   label Participant 3:
      //-   input(type='text', name='p3name', placeholder='Participant 3 Name')
      //-   input(type='text', name='p3email', placeholder='Participant 3 Email')
      //-   select(name='p3class')
      //-     option(selected, disabled) Participant 3 Class
      //-     option 8
      //-     option 9
      //-     option 10
      //-     option 11
      //-     option 12
      input(type='submit', value='Register')
  p.credits Designed &amp; developed by 
    a(href='https://minet.co') MINET
